<!doctype html>
<html>
   <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main/tasks.css') }}"> 
     </head>
   <body>
    <h3>To Do List</h3>
      <table>
         <thead>
            <th>Completed</th>
            <th>Task Name</th>
            <th>Assigned To</th>
            <th>Due Date</th>
         </thead>
         {% for row in rows %}
            <tr>
               <td>
                  <form action="/complete_task" method="POST">
                     <input id="task_id" name="task_id" value={{ row["id"] }} />  
                     {% if row["completed"] == 1 %}
                     <input id="completed_checkbox" name="completed_checkbox" type="checkbox" onchange="submit()" checked/> 
                     <input id="completed_value" name="completed_value" value=0 /> 
                    
                     {% else %}
                     <input id="completed_checkbox" name="completed_checkbox" type="checkbox" onchange="submit()"/> 
                     <input id="completed_value" name="completed_value" value=1 /> 
                     {% endif %}
                  </form>
               </td>
               <td>{{row["name"]}}</td>
               <td>{{row["roommate_name"]}}</td>
               <td>{{row["date"]}}</td>
            </tr>
         {% endfor %}
      </table>
      <br>
      <br>
      <a href = "/">Go back to home page</a>
   </body>
</html>